# Dependencies
node_modules
python-worker

# Build
dist

# Environment files (never commit secrets)
.env
.env.local
.env.production

# Storage & logs
logs

#Worker
python-worker/

# OS & editor
.DS_Store
Thumbs.db
.vscode
.idea

# Prisma
prisma/migrations/dev_*

# Coverage
coverage
.nyc_output
